.post {
  max-width: 700px;
  margin: auto;
  p {
    img {
      display: block;
      width: 100%;
      border-radius: 0;
    }
  }
}

.inner.fullscreen .year-section.year-2020:last-child,
.inner.fullscreen .year-section.year-2021:last-child,
.inner.fullscreen .year-section.year-2022:last-child {
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  section.banner {
    align-items: flex-end;
  }

  section.banner p.major {
    margin-bottom: 10px;
  }
}
