.post {
  max-width: 700px;
  margin: auto;
  p {
    img {
      display: block;
      width: 100%;
      border-radius: 0;
    }
  }
}

.inner.fullscreen .year-section.year-2022.last-item,
.inner.fullscreen .year-section.year-2021.last-item,
.inner.fullscreen .year-section.year-2020.last-item,
.inner.fullscreen .year-section.year-2019.last-item,
.inner.fullscreen .year-section.year-2018.last-item,
.inner.fullscreen .year-section.year-2017.last-item,
.inner.fullscreen .year-section.year-2016.last-item {
  padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
  section.banner {
    align-items: flex-end;
    min-height: 200px;
  }
  
  section.banner .content {
    margin-bottom: 0 !important;
  }
  
  section.banner .content h2 {
    font-size: 17px !important;
  }

  section.banner p.major {
    margin-bottom: 15px;
  }
  
   #logo a img {
    width: 100%;
    height: auto;
    max-width: 170px;
  }
  
  .banner.style5.halfscreen {
    min-height: 35vh !important;
  }
}
